.button{
    -fx-text-fill: #8dd4fa;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-padding: 100 100 100 100;
    -fx-border-color: rgb(0, 68, 255);
    -fx-background-color: #0066ff;
    -fx-border-radius: 5;
    -fx-font-size: 40px;
}

.button:hover{
    -fx-background-color: #3C8AFF;
}

.title{
    -fx-text-fill: #0066ff;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 50px;
}

.titleLabel{
    -fx-text-fill: #0066ff;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 20px; 
}

.slider .thumb{
    -fx-background-color: #cceeff;
}

.slider .track{
    -fx-background-color: #0066ff;
}

.slider:disabled {
    -fx-opacity: 0.5;
}
